{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<span>
{% if request.user.is_authenticated %}
        
        <p> {{request.user.username}} <a href="{% url 'price_compare:logout' %}">Logout</a> </p>
        {% else %}
        <a href="{% url 'price_compare:register' %}">Sign up</a>
        <a href="{% url 'price_compare:login' %}">Login</a>
{%endif%}
</span>
{% for product in products %}
<div class="container">
        <div class="product">
                <a href="{{product.get_absolute_url}}" >
                    <img src="{{product.img_src}}" alt="{{product.name}}">
                   <h2> {{product.name}} </h2>
                </a>
        </div>
</div>

{% endfor %}
{% endblock %}
